<section class="hero-banner">
  <div class="hero-wrapper">
    <div class="hero-left">
      <h1 class="hero-title">
        Find food recipes from all over the world
      </h1>
      <div class="d-sm-flex flex-wrap">
        <a href="/recipes" class="button button-hero button-shadow">
          Search Now
        </a>
      </div>
    </div>
    <div class="hero-right">
      <div class="owl-carousel owl-theme hero-carousel">
        <div class="hero-carousel-item">
          <img class="img-fluid" src="/img/banner/hero-banner1.png" alt="" />
        </div>
        <div class="hero-carousel-item">
          <img class="img-fluid" src="/img/banner/hero-banner2.png" alt="" />
        </div>
        <div class="hero-carousel-item">
          <img
            class="img-fluid"
            src="https://images.unsplash.com/photo-1540189549336-e6e99c3679fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80"
            alt=""
          />
        </div>
        <div class="hero-carousel-item">
          <img
            class="img-fluid"
            src="https://images.unsplash.com/photo-1540716189226-20cc9c9116e0?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"
            alt=""
          />
        </div>
      </div>
    </div>
    <ul class="social-icons d-none d-lg-block">
      <li>
        <a href="https://www.facebook.com/bangadam.dev"
          ><i class="ti-facebook"></i
        ></a>
      </li>
      <li>
        <a href="https://github.com/bangadam"><i class="ti-github"></i></a>
      </li>
      <li>
        <a href="https://www.instagram.com/bangadam.dev/"
          ><i class="ti-instagram"></i
        ></a>
      </li>
    </ul>
  </div>
</section>
